body {
    background-color: beige;
    font-size: 20px;
}

.todo {
    position: relative;
    margin: 100px;
}

.todo h1 {
    position: absolute;
    font-size: 30px;
    font-weight: 100;
    margin-top: -40px;
    width: 100%;
    text-align: center;
}

.new {
    position: relative;
    margin: 0;
    width: 70%;
    font-size: 20px;
    padding: 5px;
    line-height: 1.4em;
}

.new-button {
    margin: 0;
    width: 20%;
    font-size: 20px;
}

.todo-list {
    background-color: aliceblue;
}

.todo-listitem {
    margin-top: 15px;
}

.todo-listitem input[type=checkbox] {
    display: inline-block;
    margin-right: 7px;
}

.todo-listitem input[type=checkbox] + label {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    font-size: 20px;
    cursor: pointer;
}

.checkbox-label {
    width: 500px;
}